body { 
    background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
    font-family: Verdana, Arial, sans-serif;
}

header { 
    background-color: #002171;
    background-image: url('images/sunset.jpg');
    background-position: right;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Georgia, serif;
    height: 7rem;
}

nav { 
	font-weight: bold;
	padding-top: .5rem;
	padding-right: .5rem;
	padding-bottom: .5rem;
	text-align: center;
}

main { 
    padding-left: 2rem;
    padding-right: 2rem;
    display: block; 
}

footer { 
    font-size: .70rem;
    font-style: italic;
    text-align: center;
    padding: 1rem;
}

dt { 
    color: #002171;
    font-weight: bold;
}

h1 { 
    text-align: center;
    padding-top: .5rem; 
}

h2 { 
    color: #1976D2;
    font-family: Georgia, serif; 
}

h3 { 
    font-family: Georgia, serif; 
}

.resort { 
    color: #1976D2;
    font-size: 1.2rem;
}

nav a {
    text-decoration:none;

}

nav ul {
    list-style-type: none;
}

nav li{
    display:inline;
    padding:10px;
}
#homehero { 
    height: 30rem;
    background-image: url('images/coast.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
}

#wrapper { 
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 9.5rem;
    max-width: 20.5rem;
    box-shadow: 3px 3px 3px #777;
}
