body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns:15vw 1fr;
    grid-template-rows: 15vh 1fr 10vh;
    grid-template-areas: "hdr hdr""asd mn" "ftr ftr";
}

header, aside, main, footer {
    padding: 20px;
    text-align: center;
}

header {
    color: white;
    background-color: rgb(33,87,51);
    grid-area: hdr ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15rem;
}

aside {
    background-color: rgb(75,133,94);
    grid-area: asd;
}

main {
    grid-area: mn;
}

footer {
    color: white;
    background-color: rgb(53,112,72);
    display: flex;
    grid-area: ftr;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:15rem;
}

h1 {
    color: rgb(33,87,51);
}

p {
    line-height: 24px;
}

.restName {
    background-color: rgb(33,87,51);
    color: white;
    font-style: italic;
    padding: 5px;
    border-radius: 3px;
}